.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    margin: 10px;
}

.dialogsItems .active {
    color: #fff;
}

.messages {
    margin: 10px;
}

.messages .message {
    color: #fff;
    font-size: 15px;
}